services:
  ti-bridge:
    build: .
    restart: unless-stopped
    ports:
      - "8080:8080"
    dns:
      - 1.1.1.1
      - 1.0.0.1
    environment:
      - REDIS_URL=redis://redis:6379/0
    depends_on:
      - redis
    volumes:
      - ./app:/app/app
      - ./scan-blacklist.conf:/app/scan-blacklist.conf
    networks:
      - default
      - nginx-pm_default

  uptime-kuma:
    image: louislam/uptime-kuma:1
    container_name: uptime-kuma
    restart: unless-stopped
    volumes:
      - uptime-kuma-data:/app/data
    ports:
      - "3001:3001"
    networks:
      - default
      - nginx-pm_default

  redis:
    image: redis:alpine
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

networks:
  default:
  nginx-pm_default:
    external: true

volumes:
  redis_data:
  uptime-kuma-data:
