services:
  ti-bridge:
    build: .
    restart: unless-stopped
    ports:
      - "8080:8080"
    dns:
      - 1.1.1.1
      - 1.0.0.1
    environment:
      - REDIS_URL=redis://redis:6379/0
    depends_on:
      - redis
    volumes:
      - ./app:/app/app

  redis:
    image: redis:alpine
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  redis_data:
