################################################################################
# CUSTOM BLACKLIST - USER DEFINED
################################################################################


1.2.3.4         # IP description
0.0.0.0 /24     # block description

################################################################################
